.btn {
  padding: 1.2rem 1.6rem;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: 1.5rem;
  color: #fff;
  background-color: #3c3c3c;

  &__inner-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    margin-left: 0.7rem;

    &--cart {
      margin-right: 1rem;
      margin-left: 0rem;
      fill: #2e2e2e;
      width: 2.5rem;
      height: 2.5rem;
    }

    &--lock-checkout {
      margin-right: 0.7rem;
      margin-left: 0;
      fill: #f7f7f7;
    }
  }

  &--signin,
  &--google,
  &--register,
  &--proceed-checkout {
    cursor: pointer;
    width: 50%;
    background-color: transparent;
    color: #3c3c3c;
    border: 2px solid #3c3c3c;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    transform: translateY(30%);
    transition: transform 0.2s ease-out;
  }

  &--signin,
  &--register {
    &:hover {
      transform: translateY(25%);
    }
    &:active {
      transform: translateY(33%);
    }
  }

  &--google {
    display: flex;
    align-items: center;
    background-color: #4285f4;
    border: 2px solid transparent;
    color: #fff;
    transform: translateY(65%);
    &:hover {
      transform: translateY(62%);
    }
    &:active {
      transform: translateY(68%);
    }
  }

  &--cart {
    cursor: pointer;
    padding: 1.2rem 2.5rem;
    border-radius: 0.7rem;
    background-color: #e6e6e6;
    color: #2e2e2e;
    font-size: 1.5rem;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--proceed-checkout {
    text-transform: uppercase;
    font-size: 1.4rem;
    border: none;
    background-color: #c72e45;
    color: #fff;
    font-weight: 600;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1.2rem;
    transform: translateY(0);
  }
}
