.auth-modal-header {
  padding-top: 4.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__title {
    font-weight: 400;
    margin-top: -7px;
    line-height: 1.6;
    font-size: 1.8rem;
    align-self: flex-end;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    &--1 {
      margin-right: 1.4rem;
    }
  }

  &__dismis {
    cursor: pointer;
    margin-left: auto;
    align-self: flex-start;
    margin-top: -3.2rem;
    margin-right: -1rem;
    font-size: 2.4rem;
    color: #c72e45;
    font-weight: 400;
  }
}
.active {
  border-bottom: 3px solid #3c3c3c;
}

.title-separator {
  font-size: 2.4rem;
  align-self: center;
  align-self: flex-end;
}
