*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  min-height: 100vh;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  color: $color-text;
  box-sizing: border-box;
  // text-rendering: optimizeLegibility;
}

#root {
  min-height: 100%;
}

.app {
  min-height: 100%;
  @include layout(base);
}

.link {
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
