*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  max-height: 100vh;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  color: $color-text;
  box-sizing: border-box;
  // text-rendering: optimizeLegibility;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  @include layout(base);
}
