@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600&display=swap');

// FONTS
$font-primary: 'Montserrat', sans-serif;

// COLORS
$color-text: #3c3c3c;
$bg-color: #f7f7f7;
$color-dark: #2b2b2b;

// BORDERS
$border-sm: 1px solid $color-dark;

// GRADIENTS

// SHADOWS
