@import '../../sass/abstracts/variables';

.menu {
  padding: 6rem 10rem 0 10rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(10rem, 1fr));
  grid-template-rows: repeat(5, 12rem);
  grid-gap: 3rem;
  align-content: center;
  justify-content: center;
}
