// UTILITY CLASSES

/*************
// MARGINS
*/
.u-mb-sm {
  margin-bottom: 1.5rem !important;
}
.u-mb-md {
  margin-bottom: 2.5rem !important;
}
.u-mb-bg {
  margin-bottom: 4rem !important;
}
.u-mb-lg {
  margin-bottom: 6rem !important;
}
.u-mb-xl {
  margin-bottom: 8rem !important;
}

.u-mt-sm {
  margin-top: 1.5rem !important;
}
.u-mb-md {
  margin-top: 2.5rem !important;
}
.u-mt-bg {
  margin-top: 4rem !important;
}
.u-mt-xl {
  margin-top: 6rem !important;
}
.u-mt-xl {
  margin-top: 8rem !important;
}

.u-mr-sm {
  margin-right: 1.5rem !important;
}
.u-mr-md {
  margin-right: 2.5rem !important;
}
.u-mr-bg {
  margin-right: 4rem !important;
}
.u-mr-xl {
  margin-right: 6rem !important;
}
.u-mr-xl {
  margin-bottom: 8rem !important;
}

.u-ml-sm {
  margin-left: 1.5rem !important;
}
.u-ml-md {
  margin-left: 2.5rem !important;
}
.u-ml-bg {
  margin-left: 4rem !important;
}
.u-ml-xl {
  margin-left: 6rem !important;
}
.u-ml-xl {
  margin-bottom: 8rem !important;
}
