@import '../../../sass/abstracts/mixins';
@import '../../../sass/base/animations';
.form-loading {
  &--signin {
    height: 46rem;
  }

  &--register {
    height: 62rem;
  }
  &__anim {
    @include absoluteCenter;
    display: flex;
  }
  &__circle {
    width: 1.8rem;
    height: 1.8rem;
    background-color: #3c3c3c;
    border-radius: 100%;
    animation: bounce 1.4s infinite ease-out;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }

    &--2 {
      animation-delay: 0.15s;
    }

    &--3 {
      animation-delay: 0.3s;
    }
  }
}
