.app-header {
  grid-column: lpad-end / rpad-start;
  grid-row: 1 / 2;
  border-bottom: 1px solid #e6e6e6;
  width: calc(100% - 20rem);
  align-self: end;
  justify-self: center;
  display: flex;
  align-items: flex-start;

  &__logo {
    display: block;
    width: 5.2rem;
    height: 5.2rem;
    margin-top: -1.2rem;
    padding-bottom: 1rem;
  }

  &__link {
    display: flex;
    align-items: center;

    &--shop {
      &:link,
      &:visited {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        align-self: center;
        margin-left: 2.5rem;
        padding: 0.5rem 0.8rem;
        border-radius: 0.7rem;
      }
    }
  }

  &__nav {
    margin-left: auto;
    list-style: none;
    display: flex;
  }

  &__nav-item {
    cursor: pointer;
    font-size: 1.5rem;
    color: #3c3c3c;
    font-weight: 400;

    &:not(:last-child) {
      margin-right: 1.8rem;
    }
  }

  &__nav-btn {
    &--signin,
    &--register {
      font-size: 1.4rem;
      font-weight: 600;
      background-color: #c72e45;
      padding: 0.6rem 1rem;
      color: #fff;
      border-radius: 0.6rem;
    }

    &--register {
      background-color: #cecece;
      color: #555555;
    }

    &--cart {
      margin-top: 0.7rem;
    }
  }

  &__dropdown-wrapper {
    display: inline-block;
    position: relative;
  }
}

// REFERING TO CLASS SELECTOR OUTSIDE OF THIS FILE
.app-header__link--shop:hover + .shop-dropdown {
  display: block;
}

.app-header__dropdown-wrapper:hover .shop-dropdown {
  display: block;
}
